@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap");

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: 'Bebas Neue';
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
section{
    min-height: 100vh;
    display:flex;justify-content:center; align-items:center;
    color: #fff;

    width: 100%;
}
section h1{
    letter-spacing: 3px;    
    text-transform: uppercase;
    font-family: 'Bebas Neue',cursive;
    font-size: 6rem;
}
#home{
    background-color: #ffb066;
}
#features{
    background-color: #67ffe7;
}
#contact{
    background-color: hsl(29, 100%, 60%);
}
#pricing{  
    background-color: #00ffa7;
}

.sidebar{
    position: fixed;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    background: #414141;
    height: auto;
    width: fit-content;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.sidebar li{
    padding: 20px;
    margin:15px 0;
    position: relative;
    transition: all 0.2s linear;
}

.sidebar li a i{
    font-size: 1.75rem;
}
.sidebar a::after{ /*it will align with li and not a because li has a pos:relative*/
    content: attr(data-value);
    position: absolute;
    background:#414141;
    letter-spacing: 1px;
    color: #fff;
    left: 85%;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    display:flex;justify-content:center; align-items:center;
    transition: inherit;
    transform: scaleX(0);
    transform-origin: left;
}

.sidebar li:hover{
    transform: scale(1.2);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.25);
}
.sidebar li:hover a::after{
    transform: scaleX(1.0);
}
.sidebar li i:hover{
    opacity: 0.8;
}

@media(max-width:300px){
    .sidebar a::after{
        width: 150px;
    }
}