@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.container{
    max-width: 400px;
    margin: 20px auto 0 auto;
}
.container h1{
    text-align: center;
}
#progress-bar{
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: space-evenly;
    align-items: flex-end;
}
.step{
    text-align: center;
}
.step-text{
    margin-bottom: 10px;
    color: #28a745;
}
.bullet{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #28a745;
    color:#28a745;
    display: inline-block;
    position: relative;
    transition: background-color 400ms ease;
    display:flex;
    align-items: center;
    justify-content: center;
}
.bullet.done{
    color: #fff;
    background-color: #28a745;
}
.bullet.lastStep{
    color: #fff;
    background-color: #28a745; /*not adding progress bar to the last step.*/
}
.bullet.done::after{
    content: '';
    position: absolute; 
    width: 50px;
    background-color: #28a745;
    height: 2px;
    left: 34.5px;

}

.buttons{
    display: flex;
    justify-content: space-evenly;
}
.buttons button{
    padding:5px 12px 5px 12px;
    border: none;
    border: none;
    transition: all 250ms ease;
    cursor:pointer;
    font-size: 1rem;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    width: 90px;
    background: rgba(23, 185, 120,1.0);
    color: #fff;
    border-radius: 5px;

}
.buttons button:hover{
    background: rgba(23, 185, 120,0.7);
}
.buttons button:disabled{
    background: #f1f1f1;
    color: #000;
    cursor: not-allowed;
}